{% extends 'base.html' %}
{% block contents %}
<div class="container mt-4">
    
    <div class="row">
        <div class="col">
            <div class="form-group mb-1">
                <div>
                    {{ form.date }}
                </div>
            </div>
            {% for task in tasks %}
            <div class="accordion mb-2" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#A{{ loop.index }}" aria-expanded="true" aria-controls="A{{ loop.index }}">
                            <div class="d-flex">
                                <div class="mr-auto p-2 me-3">{{ task.title }}</div>
                                <div class="p-2 ms-4">{{ task.date.date() }}</div>
                                <div class="p-2 ms-4">{{ task.date.time() }}</div>                                                
                            </div>                              
                        </button>                     
                    </h2>                    
                    <div id="A{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <form id="task{{ task.id }}" action="{{ url_for('edit_task', id=task.id) }}" method="POST">
                                <textarea class="task-content" cols="50" rows="4" readonly="true" name="text{{ task.id }}"> {{ task.content }} </textarea>
                            </form>
                            <div class="float-end">
                                <div class="btn-group">
                                    <button hidden id="saveBtn#{{ loop.index }}" class="btn btn-success" form="task{{ task.id }}">Save</button>
                                    <button id="editBtn#{{ loop.index }}" class="btn btn-outline-secondary">
                                        <i class="bi bi-brush"></i>                                    
                                    </button>
                                    <form action="{{ url_for('delete_task', id=task.id) }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>   
                   
            {% endfor %}
            <script type="text/javascript" src="{{url_for('static', filename='funcs.js')}}"></script>
        </div>
        <div class="col">
            <div class="form-contents">         
                <form method="POST" action="{{ url_for('create_task') }}">
                    {{ form.hidden_tag() }}
                    <legend>Enter a task</legend>
                    <div class="form-group">
                        {{ form.title.label (class="form-control-label")}}
                        {% if form.title.errors %}
                            {{ form.title (class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div> 
                        {% else %}
                            {{ form.title (class="form-control", placeholder="A title is required") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div>
                            <small>{{ form.date.label (class="form-control-label")}}</small>
                        </div>
                        <div>
                            {{ form.date }}
                            {{ form.time }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.contents.label (class="form-control-label")}}
                        {% if form.contents.errors %}
                            {{ form.contents (class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.contents.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div> 
                        {% else %}
                            {{ form.contents (class="form-control") }}
                        {% endif %}
                    </div> 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>                        
                    </div>
                    <small class="form-text text-muted ms-2">
                        To save tasks, register an account!
                    </small>  
                </form>
            </div>
        </div>
    </div>
</div>     
{% endblock contents %}