body {
    background-color: rgb(243, 237, 231);
}



.navbar {
    padding-left: 5%;
    padding-right: 3%;
}

.tododiv {
    margin-left: 100px;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;

    border-color: black;
    border-top-right-radius: 10%;
}

.form-contents {
    background: #f7f4f4;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.form-login {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 30%;
    margin-right: 30%;
}

.form-group {
    padding-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.container {
    margin-left: 40px;
}

.btn-group {
    margin-left: 55px;
}

.btn-success {
    visibility: hidden;
}

.date-picker {
    margin-bottom: 5px;
    width: 150px;
}